.header {
    background-color: #F4F6F5;
    margin-top: 40px;
    border-radius: 30px;
    height: 530px;
}

.header-row {
  margin-top: 20px;
  padding-top: 60px;
}

.header-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}

.header-title-1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    background-color: white;
    box-sizing: border-box;
    width: 30%;
    margin-left: 160px;
}

.header-title-2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    background-color: #EBD96B;
    box-sizing: border-box;
    width: 30%;
    margin-left: 160px;
}

.img {
    width: 70%;
    height: 400px;
}

.img1 {
  width: 20%; 
  height: 20px;
  margin: 25px;
}

.header-btn {
    background-color: black;
    color: white;
    border-radius: 5px;
}

.brand-look {
     box-sizing: border-box;
     width: 100%;
     height: 160px;
    
}

.brands {
    display: flex;
    justify-content: center;
    margin-top: 70px !important;
    background-color: #EBD96B;
}

.img-brand {
    width: 50px;
    height: 30px;
    background-color: #EBD96B;
    margin-top: 30px;  
}